<div class="change-pwd-page">
  <div class="form-change-pwd">
    <form [formGroup]="changePasswordForm" novalidate>
      <div class="form-change-pwd__header">
        Đổi mật khẩu
        <mat-icon class="close" svgIcon="icon-close" (click)="closePopup()"></mat-icon>
      </div>
      <div class="group-ip-password">
        <label class="item-label">Nhập mật khẩu mới</label>
        <mat-form-field class="group-password">
          <input matInput placeholder="Nhập mật khẩu mới" class="ip-new-password" autocomplete="off"
            formControlName="passwordNew" (focus)="changePasswordForm.get('passwordNew')?.clearValidators()"
            (blur)="validatorPass()" [type]="showNewPassword ? 'text' : 'password'" matTooltip="{{
              (changePasswordForm.get('passwordNew')?.status !== 'VALID' &&
              changePasswordForm.get('passwordNew')?.touched
                ? utils.getMessError(
                    changePasswordForm.get('passwordNew')?.errors
                  )
                : '' ) | translate
            }}" matTooltipClass="{{
              changePasswordForm.get('passwordNew')?.status !== 'VALID' &&
              changePasswordForm.get('passwordNew')?.touched
                ? 'example-tooltip-red'
                : ''
            }}" />
          <mat-icon matSuffix class="icon-hidden-password" [svgIcon]="
              showNewPassword ? 'icon-hidden-password' : 'icon-show-password'
            " (click)="togglePassWord('new')"></mat-icon>
        </mat-form-field>
      </div>
      <div class="group-ip-password">
        <label class="item-label">Nhập lại mật khẩu</label>
        <mat-form-field class="group-password">
          <input matInput autocomplete="off" placeholder="Nhập lại mật khẩu" formControlName="passwordConfirm"
            class="ip-confirm-password" (focus)="changePasswordForm.get('passwordConfirm')?.clearValidators()"
            (blur)="validatorCfPass()" [type]="showConfirmPassword ? 'text' : 'password'" matTooltip="{{
              (changePasswordForm.get('passwordConfirm')?.status !== 'VALID' &&
              changePasswordForm.get('passwordConfirm')?.touched
                ? utils.getMessError(
                    changePasswordForm.get('passwordConfirm')?.errors
                  )
                : '' ) | translate
            }}" matTooltipClass="{{
              changePasswordForm.get('passwordConfirm')?.status !== 'VALID' &&
              changePasswordForm.get('passwordConfirm')?.touched
                ? 'example-tooltip-red'
                : ''
            }}" />
          <mat-icon matSuffix class="icon-hidden-password" [svgIcon]="
              showConfirmPassword
                ? 'icon-hidden-password'
                : 'icon-show-password'
            " (click)="togglePassWord('confirm')"></mat-icon>
        </mat-form-field>
      </div>
      <div>
        <button mat-raised-button class="btn-change-password" (click)="submitForm()">
          Xác nhận
        </button>
      </div>
    </form>
  </div>
</div>
