.group-chat-container{
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: #f4f6fa;
    padding: 20px;
    .chat-box-group{
        width: 685px;
        height: 547px;
        margin: auto;
    }
}