.block {
    background: whitesmoke;
    width: 100%;
    .container-navbar {
      justify-content: center;
      align-items: center;
      position: sticky;
      top: 0;
      z-index: 10;
      background: #fff !important;
      height: 65px;
      margin: auto;
      text-align: center;
      padding: 0px 10px 0px 10px;
      .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        // --- logo ---
        &-logo {
          width: 160px;
          padding-top: 5px;
          &-icon {
            width: 124.43px;
            height: 75.78px;
          }
        }
        // --- login button, signup button ---//
        &-buttons {
          padding-top: 5px;
          text-align: right;
          .nav-buttons-ct {
            display: inline-flex;
            p {
              cursor: pointer;
              color: black;
              font-size: 14px;
              font-weight: 500;
            }
            .buttons-login {
              width: 120px;
              padding-top: 7px;
              margin-right: 20px;
              p:hover {
                color: #87aee1;
              }
            }
            .buttons-register {
              background-color: #3f3f4d;
              padding: 8px 20px;
              width: 120px;
              height: 39px;
              border-radius: 8px;
              cursor: pointer;
              p {
                width: 100%;
                font-weight: 500;
                font-size: 14px;
                letter-spacing: 0.014em;
                color: while;
              }
            }
            .buttons-register:hover {
              background-color: #87aee1;
            }
            .cart{
              margin-left: 50px;
              mat-icon{
                cursor: pointer;
              }
            }
          }
        }
        // --- login button, signup button ---//
        // --- menu item ----//
        &-menu {
          width: 796px;
          // padding-top: 20px;
          text-align: center;
          color: black;
          @media only screen and (max-width: 650px) {
            display: none;
          }
          .header__menu {
            display: flex;
            justify-content: center;
            height: 30px;
            // gap: 3rem;
            @media only screen and (max-width: 992px) {
              gap: 1rem;
            }
            @media only screen and (max-width: 700px) {
              gap: 0.1px;
            }
          }
          .mat-icon {
            width: 12px;
            height: 18px;
            margin-top: 3px;
            padding-top: 3px;
          }
          .header__menu--item {
            min-width: 70px;
            background-color: transparent;
            font-size: 14px;
            letter-spacing: 0.014em;
            font-weight: 500;
            color: black;
            cursor: pointer;
            margin: 0 1rem;
            p {
              margin-bottom: 0 !important;
            }
          }
          .header__menu--item:hover {
            color: blue;
          }
          .header__menu--item .active {
            border-bottom: 2px solid black;
            // padding: 10px 0;
          }
          @keyframes slide-in {
            0% {
              transform: translateY(-30%);
            }
            100% {
              transform: translateY(0%);
            }
          }
        }
        //--- menu item ---------//
      }
    }
    .product-container {
        width: calc(100% - 64px);
        margin: auto;
        height: calc(100vh - 65px);
        background-color: #fff;
        display: flex;
        justify-content: center;
        margin-top: 8px;
        .group-block {
            width: 100%;
            height: 310px;
            display: flex;
            gap: 50px;
            padding: 20px;
            flex-wrap: wrap;
            .product-block {
                width: 300px;
                height: 100%;
                border: 1px solid black;
                padding: 5px;
                cursor: pointer;
                .product-img {
                    // width: 300px;
                    // height: 400px;
                    img {
                        width: 100%;
                        height: 180px;
                    }
                }
                .product-content {
                    margin-top: 10px;
                    .product-name {
                        text-align: center;
                        font-weight: 500;
                    }
                    .product-price {
                        text-align: center;
                        font-weight: 500;
                    }
                }
            }
        }
    }
    .footer {
        height: 250px;
        width: 100%;
        background: rgb(56, 56, 56);
        color: white;
        padding: 0 20px;
        .container {
            height: 200px;
            background: none;
            justify-content: center;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid white;
            .footer-left {
                height: 100%;
                width: 300px;
                display: flex;
                flex-direction: column;
                .logo {
                    mat-icon {
                        width: 70px;
                        height: 70px;
                    }
                }
            }
            .footer-center {
                padding-top: 20px;
                width: 300px;
                height: 100%;
                display: flex;
                flex-direction: column;
                .footer-info {
                    display: flex;
                    flex-direction: column;
                    .notes {
                        color: rgb(127, 123, 123);
                        cursor: pointer;
                        &:hover {
                            color: white;
                        }
                    }
                }
            }
            .footer-right {
                padding-top: 20px;
                width: 300px;
                height: 100%;
                display: flex;
                flex-direction: column;
                .footer-content {
                    display: flex;
                    flex-direction: column;
                    .notes {
                        color: rgb(127, 123, 123);
                        cursor: pointer;
                        &:hover {
                            color: white;
                        }
                    }
                }
            }
        }
        .footer-bottom {
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
