<div class="block">
    <div class="group-all">
      <div class="title">
          <span>Chỉnh sửa bài đăng</span>
          <mat-icon svgIcon="icon-close" (click)="closeDialog()"></mat-icon>
      </div>
      <div class="group-add">
          <form  [formGroup]="group">
              <div class="group-content">
                  <div class="group-content__group-input">
                      <span>Link hình ảnh</span>
                      <mat-form-field class="group-item">
                          <input matInput formControlName="image">
                      </mat-form-field>
                  </div>
                  <div class="group-content__group-input">
                      <span>Tiêu đề</span>
                      <mat-form-field class="group-item">
                          <input matInput formControlName="title">
                      </mat-form-field>
                  </div>
                  <div class="group-content__group-input">
                      <span>Nội dung</span>
                      <textarea style="resize: none" formControlName="content"></textarea>
                  </div>
                  <div class="group-btn">
                      <button mat-button class="cancel">Đóng</button>
                      <button mat-button class="add" (click)="saveUser()">Thêm</button>
                  </div>
              </div>
          </form>
      </div>
    </div>
  </div>
