@import "../../../../../../styles/styles-variables.scss";
@import "../../../../../../styles/scss/breakpoints.scss";

::ng-deep .mat-form-field {
  width: 100%;
  padding: 0 !important;
}

::ng-deep .mat-form-field-wrapper {
  margin: 0 !important;
  padding: 0 !important;
}

::ng-deep .mat-form-field-outline-end {
  border-width: 1px !important;
}

::ng-deep .mat-form-field-outline-start {
  border-width: 1px !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
  margin-top: 0 !important;
  height: 46.5px !important;
  font-family: "Noto Sans";
  padding-top: 8px !important;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.014em;
  //color: #7B8E99;
}

::ng-deep.mat-select-arrow-wrapper .mat-select-arrow {
  color: #7B8E99;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

::ng-deep .mat-form-field-appearance-outline:not(.mat-form-field-disabled):not(.mat-focused):not(.mat-form-field-invalid) .mat-form-field-flex:hover .mat-form-field-outline {
  border: 1px solid #bccaee !important;
  opacity: 1;

  .mat-form-field-outline-start,
  .mat-form-field-outline-gap,
  .mat-form-field-outline-end {
    border: none !important;
  }
}

::ng-deep .mat-form-field-appearance-outline.mat-focused:not(.mat-form-field-invalid) .mat-form-field-outline {
  color: #e0e4ef;
  border: 1px solid #2191DB;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex .mat-form-field-outline {
  border-radius: 2px !important;
  background: #f4f6fa;
  padding: 0 !important;
}

::ng-deep .mat-raised-button {
  box-shadow: none !important;
}

::ng-deep.mat-dialog-container {
  padding: 0 !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
  margin-top: 0 !important;
  height: 46.5px !important;
  font-family: "Noto Sans";
  padding-top: 8px !important;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.014em;
  //color: #7B8E99;
}
.change-mail {
  font-family: 'Noto Sans';
  font-style: normal;
  box-shadow: 0px 0px 16px rgba(196, 194, 194, 0.12) !important;
  border-radius: 12px !important;
  max-width: 452px !important;
  background: #FFFFFF;
  padding: 2rem 3.75rem;

  @include max-desktop-up-500 {
    padding: 1rem 1rem;
  }

  .group-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;

    &__title {
      font-weight: 600;
      font-style: normal;
      font-size: 1.25rem;
      line-height: 27px;
      letter-spacing: -0.014em;
      color: #3D4147;
    }

    .close {
      cursor: pointer;
      width: 12px;
    }
  }




  //-------------------------------------- step 1: verify password -----------------------------
  .group-content {

    &__group-input {
      display: flex;
      flex-direction: column;
      &__label {
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.004em;
        color: #3D4147;
        font-style: normal;
      }
    }

    &__bottom {
      display: flex;
      justify-content: center;
      margin-top: 1rem;

      button {
        display: block;
        background: #2191DB;
        border-radius: 4px;
        width: 100%;
        height: 43px;
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 0.014em;
        color: #FFFFFF;

        &:hover {
          background: #036DB4;
        }
      }
    }

    // ----------------------step 2: verify email--------------
    &__desc {
      font-weight: 400;
      font-size: 0.75rem;
      line-height: 1rem;
      letter-spacing: 0.014em;
      color: #7B8E99;
      margin-bottom: 8px;

      p {
        margin: 0;
      }
    }

    &__bottom.two-btn {
      display: flex;
      flex-direction: row-reverse;
      margin-top: 1rem;
      column-gap: 8px;
      justify-content: space-between;

      .group-content__bottom__back {
        width: 95px;
        background: #FFFFFF;
        border: 1px solid #2191DB;
        color: #2191DB;
        cursor: pointer;

        &:hover {
          background: #DDF1FF;
        }
      }

      .group-content__bottom__submit {
        flex: 3;
      }
    }
  }

}
