<div class="block-dialog">
  <div class="block-dialog__top">
    <div class="top-icon-left">
      <mat-icon
        svgIcon="icon-close"
        (click)="data.negative.click()"
        class="icon-close"
      ></mat-icon>
    </div>
    <div class="top-icon-center">
      <mat-icon [svgIcon]="icon" class="icon-alert"></mat-icon>
    </div>
    <div class="top-type" [ngClass]="color">{{ type }}</div>
  </div>
  <div class="block-dialog__content">
    <p
      class="content-message"
      *ngIf="data.content"
      innerHtml="{{ data.content | translate }}"
    ></p>
  </div>
  <div *ngIf="data.positive; then confirm; else normal"></div>
  <ng-template #normal>
    <div class="block-dialog__bottom">
      <button
        mat-stroked-button
        [ngClass]="bgColor"
        (click)="data.negative.click()"
      >
        {{ data.negative.title | translate }}
      </button>
    </div>
  </ng-template>

  <ng-template #confirm>
    <div class="block-dialog__bottom-confirm">
      <button mat-raised-button class="btn-cancel" (click)="data.negative.click()">
        {{ data.negative.title | translate }}
      </button>
      <button
        *ngIf="data.positive"
        mat-raised-button
        class="btn-ok"
        (click)="data.positive.click()"
      >
        {{ data.positive.title | translate }}
      </button>
    </div>
  </ng-template>
</div>
