<div class="block">
    <div class="container-navbar">
        <div class="navbar">
            <div class="navbar-logo">
                <mat-icon class="navbar-logo-icon" [routerLink]="['/home']" [svgIcon]="hompageLogo" matPrefix></mat-icon>
            </div>
            <div class="navbar-menu">
                <div class="header__menu">
                </div>
            </div>
            <div class="navbar-buttons">
                <div class="nav-buttons-ct">
                    <div class="cart">
                        <mat-icon [routerLink]="['/cart']" svgIcon="icon-cart"></mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block__container">
        <div class="group-product">
          <div class="product" *ngFor="let c of listCart">


            <div class="image">
                <img [src]="c.image">
            </div>
            <div class="name">
                <span>{{c.productName}}</span>
                <span>{{c.size}}</span>
            </div>
            <div class="amount">
               <form [formGroup]="group">
                <input type="number" min="1" [value]="c.amount"  [(ngModel)]="biding" >
               </form>
            </div>
            <div class="price">
                <span>{{c.price}} vnđ</span>
            </div>
            <div class="option">
              <button>Mua ngay</button>
                <mat-icon svgIcon="icon-delete-op" (click)="deleteCart(c.Id)">

                </mat-icon>
            </div>
          </div>

        </div>

    </div>
    <div class="total">
        <div class="price">
            <span>tổng tiền:</span>
            <span style="color: red; font-weight: 900; font-size: 20px; margin-left: 15px;">200,000 vnđ</span>
        </div>
    </div>
    <div class="block__footer">
        <div class="container">
            <div class="footer-left">
                <div class="logo">
                    <mat-icon svgIcon="icon-logo-football"></mat-icon>
                </div>
                <p>Cửa hàng chúng tôi chuyên cung cấp, cập nhật nhanh nhất các mẫu Quần Áo Bóng Đá, Đồ Đá Banh, Giày Đá Bóng, Đồ Thể Thao nổi tiếng ở trong nước và quốc tế.</p>
            </div>
            <div class="footer-center">
                <div class="footer-info">THÔNG TIN
                    <span class="notes" [routerLink]="['/news']">Tin tức</span>
                    <span class="notes" [routerLink]="['/pitch']">Giới thiệu</span>
                    <span class="notes">Liên hệ</span>
                    <span class="notes" [routerLink]="['/tutorial']">Hướng dẫn Size</span>
                </div>
            </div>
            <div class="footer-right">
                <div class="footer-content">MINI MENU
                    <span class="notes">Áo thể thao</span>
                    <span class="notes">Quần thể thao</span>
                    <span class="notes">Phụ kiện</span>
                </div>
            </div>
        </div>
        <div class="footer-bottom">COPYRIGHT &copy; DREAMSHOPK24</div>
    </div>
</div>
