<div class="block">
  <div class="logo">
    <div class="logo__icon">
      <mat-icon
        class="icon-logo"
        svgIcon="icon-logo-football"
        [routerLink]="['/home']"
      ></mat-icon>
    </div>
    <div class="logo__title"><span>ĐĂNG KÝ</span></div>
  </div>

  <form [formGroup]="SellerGroup">
    <div class="group-content">
      <div class="group-content__group-input">
        <label for="">Email</label>
        <mat-form-field class="group-item">
          <input
            matInput
            type="text"
            formControlName="mail"
            autocomplete="off"
            maxlength="255"
            (focus)="SellerGroup.get('mail')?.clearValidators()"
            (blur)="verifyMail()"
            matTooltip="{{
              (SellerGroup.get('mail')?.status !== 'VALID'
                ? utils.getMessError(SellerGroup.get('mail')?.errors)
                : ''
              ) | translate
            }}"
            matTooltipClass="{{
              SellerGroup.get('mail')?.status !== 'VALID'
                ? 'example-tooltip-red'
                : ''
            }}"
          />
        </mat-form-field>
      </div>
      <div class="group-content__group-input">
        <label for="">Họ và tên</label>
        <mat-form-field class="group-item">
          <input
            matInput
            type="text"
            formControlName="companyName"
            autocomplete="off"
            maxlength="100"
            (focus)="SellerGroup.get('companyName')?.clearValidators()"
            (blur)="verifyUserName()"
            matTooltip="{{
              (SellerGroup.get('companyName')?.status !== 'VALID'
                ? utils.getMessError(SellerGroup.get('companyName')?.errors)
                : ''
              ) | translate
            }}"
            matTooltipClass="{{
              SellerGroup.get('companyName')?.status !== 'VALID'
                ? 'example-tooltip-red'
                : ''
            }}"
          />
        </mat-form-field>
      </div>
      <div class="group-content__group-input">
        <label for="">Số điện thoại</label>
        <div style="display: flex; align-items: center">
          <div
            style="
              height: 41.5px;
              border: 1px solid rgb(214, 214, 214);
              width: 30px;
              display: flex;
              align-items: center;
              margin-right: 5px;
            "
          >
            +84
          </div>
          <div style="width: calc(100% - 35px)">
            <mat-form-field class="group-item">
              <input
                matInput
                type="text"
                formControlName="phoneCompany"
                autocomplete="off"
                maxlength="100"
                (focus)="SellerGroup.get('phoneCompany')?.clearValidators()"
                (blur)="verifyPhone()"
                matTooltip="{{
                  (SellerGroup.get('phoneCompany')?.status !== 'VALID'
                    ? utils.getMessError(
                        SellerGroup.get('phoneCompany')?.errors
                      )
                    : ''
                  ) | translate
                }}"
                matTooltipClass="{{
                  SellerGroup.get('phoneCompany')?.status !== 'VALID'
                    ? 'example-tooltip-red'
                    : ''
                }}"
              />
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="group-content__group-pro">
        <label for="">Địa chỉ</label>
        <br />
        <select (change)="selectItem($event)" formControlName="address11">
          <option *ngFor="let c of this.Tinh">
            {{ c.name }}
          </option>
        </select>
        <select (change)="selectXa($event)" formControlName="address12">
          <option *ngFor="let h of this.Huyen">
            {{ h.name }}
          </option>
        </select>
        <select formControlName="address13">
          <option *ngFor="let x of this.Xa">
            {{ x.name }}
          </option>
        </select>
      </div>

      <div class="group-content__group-input">
        <label for="">Mật khẩu</label>
        <mat-form-field class="group-item">
          <input
            matInput
            [type]="showPassword ? 'text' : 'password'"
            formControlName="password"
            autocomplete="off"
            (focus)="SellerGroup.get('password')?.clearValidators()"
            (blur)="validatorPass()"
            matTooltip="{{
              (SellerGroup.get('password')?.status !== 'VALID'
                ? utils.getMessError(SellerGroup.get('password')?.errors)
                : ''
              ) | translate
            }}"
            matTooltipClass="{{
              SellerGroup.get('password')?.status !== 'VALID'
                ? 'example-tooltip-red'
                : ''
            }}"
          />
          <mat-icon
            matSuffix
            class="icon-hidden-password"
            [svgIcon]="
              showPassword ? 'icon-hidden-password' : 'icon-show-password'
            "
            (click)="togglePassWord()"
          ></mat-icon>
        </mat-form-field>
      </div>
      <div class="group-content__group-input">
        <label for="">Nhập lại Mật khẩu</label>
        <mat-form-field class="group-item">
          <input
            matInput
            [type]="showCfPassword ? 'text' : 'password'"
            formControlName="cfpassword"
            (focus)="SellerGroup.get('cfpassword')?.clearValidators()"
            (blur)="validatorCfPass()"
            matTooltip="{{
              (SellerGroup.get('cfpassword')?.status !== 'VALID'
                ? utils.getMessError(SellerGroup.get('cfpassword')?.errors)
                : ''
              ) | translate
            }}"
            matTooltipClass="{{
              SellerGroup.get('cfpassword')?.status !== 'VALID'
                ? 'example-tooltip-red'
                : ''
            }}"
          />
          <mat-icon
            matSuffix
            class="icon-hidden-password"
            [svgIcon]="
              showCfPassword ? 'icon-hidden-password' : 'icon-show-password'
            "
            (click)="toggleCfPassWord()"
          ></mat-icon>
        </mat-form-field>
      </div>
      <div class="group-button">
        <button
          mat-button
          class="group-button__signup"
          [ngClass]="!isDisable ? 'disable' : ''"
          (click)="createSeller()"
        >
          Đăng ký
        </button>
      </div>
      <hr />
      <div class="group-bottom">
        Bạn đã có tài khoản?
        <span class="group-bottom__singin" [routerLink]="['/auth/login']">
          Đăng nhập</span
        >
      </div>
    </div>
  </form>
</div>
