
.product {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    &__img {
        width: 500px;
        height: 300px;
        margin-right: 15px;
        img {
            width: 100%;
            height: 100%;
            margin-bottom: 15px;
        }
        .detail-product {
            .title {
                font-weight: 700;
            }
            .group-detail-product {
                display: flex;
                .detail-name {
                    width: 50%;
                    font-weight: 500;
                }
            }
        }
    }
    &__mini {
        width: 100%;
        height: 490px;
        margin-right: 50px;
        display: flex;
        .img {
            width: 100%;
            height: 130px;
            margin-top: 25px;
            img {
                width: 160px;
                height: 100%;
            }
        }
    }
    &__content {
        width: 400px;
        height: 500px;
        background: #fff;
        padding: 10px;
        .title {
            color: black;
            font-weight: 600;
            font-size: 16px;
            margin-bottom: 15px;
        }
        .price {
            margin-bottom: 15px;
        }
        .color {
            display: flex;
            gap: 10px;
            .content {
                margin-bottom: 15px;
                font-weight: 500;
            }
            .group-color {
                .time-slot {
                    width: 170px;
                    height: 30px;
                }
                display: flex;
                gap: 10px;
                .btn-color {
                    width: 83px;
                    height: 30px;
                    border: none;
                    &:hover {
                        color: red;
                        border: 1px solid red;
                    }
                    &:focus {
                        color: red;
                        border: 1px solid red;
                    }
                    &:focus-visible {
                        border: none;
                    }
                }
            }
        }
        .size {
            font-weight: 600;
            .content {
                margin-bottom: 15px;
            }
            .group-size {
                display: flex;
                .size-1 {
                    width: 22px;
                    height: 22px;
                    border: 1px solid black;
                    text-align: center;
                    margin-right: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &:hover {
                        background: blue;
                        color: white;
                    }
                    &:focus {
                        background: blue;
                        color: white;
                    }
                }
            }
        }
        .amount {
            margin-top: 10px;
            font-weight: 600;
            .count {
                width: 70px;
            }
            .warehouse {
                margin-left: 10px;
            }
        }
        .product-size {
            font-weight: 600;
            .group-size {
                background: red;
            }
        }
        .group-button {
            margin-top: 20px;
            margin-bottom: 30px;
            display: flex;
            justify-content: space-between;
            .btn-add {
                width: 135px;
                height: 35px;
                background: rgb(242, 151, 98);
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid black;
                &:hover {
                    background: rgb(216, 126, 74);
                    color: white;
                }
                mat-icon {
                    width: 20px;
                    height: 20px;
                }
            }
            .btn-buy {
                background: rgb(90, 160, 250);
                color: white;
                width: 135px;
                height: 35px;
                border: 1px solid black;
                &:hover {
                    color: white;
                    background: rgb(71, 144, 223);
                }
            }
            .btn-more {
                width: 135px;
                color: white;
                height: 35px;
                background: rgb(222, 222, 159);
                border: 1px solid black;
                &:hover {
                    color: white;
                    background: rgb(239, 239, 85);
                }
            }
        }
        .group-describe {
            border-top: 1px solid black;
            .describe-product {
                font-weight: 600;
                margin-top: 50px;
            }
        }
    }
    .group-cmt {
        width: 400px;
        height: 500px;
        background: #fff;
        padding: 10px;
        .table-cmt {
            width: 100%;
            height: 452px;
            .group-content-cmt {
                .group-user {
                    display: flex;
                    align-items: center;
                    .avt-cmt {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        margin-right: 8px;
                        img {
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                        }
                    }
                    .name-cmt {
                        font-weight: 600;
                    }
                }
                .comment-cmt {
                    .daytime-cmt {
                        font-size: 10px;
                    }
                    .content-cmt {
                        font-size: 12px;
                    }
                }
            }
        }
        .group-page {
            input {
                margin-right: 10px;
                width: calc(100% - 25px);
            }
            mat-icon {
                width: 15px;
                height: 15px;
                cursor: pointer;
            }
        }
    }
}

